/* Base Styles -------------------- */

* {
    box-sizing: border-box;
}

body {
    color: #878787;
    margin: 0;
    font: 1em/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {  
    font-size: 5.625rem; /* 90px/16px  */
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
    font-weight: normal;
    line-height: 1.3;
    text-shadow: 2px 2px 0px red,
                4px 2px 0px cyan,
                6px 4px 0px pink;
}

h2 {
    font-size: 3.3125em; /* 53px/16px  */
    font-weight: bold;
    line-height: 1.1;
    margin: 0 0 .5em; /* 0 0 26px */
    
}

h3 {
    font-size: 1.25em; /* 20px/16px  */
    color: white;
    line-height: 1.2;
    margin-top: 150px;
    /*margin-bottom: 1.7em; /* 34px */
    text-align: center;
    
}

img {
    max-width: 100%;
    margin-bottom: 20px;
}

ul,
ol {
    margin: 30px 0;
}

li {
    margin-bottom: 10px;
}

/* Pseudo-classes ------------------ */


a:link {
    color: rgb(255, 169, 73);
    text-decoration: none;
}

a:visited {
    color: lightblue;
}

a:hover {
    color: rgba(255, 169, 73, .4);
}

a:active {
    color: lightcoral;
}

/* Main Styles --------------------- */

.main-header {
    padding-top: 100px;
    height: 450px; 
    background-image: linear-gradient(#ffa949 ,transparent 90%),
        linear-gradient(#fff,transparent),
        url('../img/ocean.png');
    background-size: cover;
    background-blend-mode: darken;

}
.lol {
    max-width: 45%;
    float: left;
}
.rol {
    max-width: 45%;
    float: right;
    
}

.title {
    color: white;
    font-size: 1.25rem; /* 26px/16px */
}

.intro {
    padding: 8px;
    color: rgb(55, 169, 173);
    font-size: 1em; /* 20px/16px */
    line-height: 1.6; 
    margin: 30px;
    margin-top: 80px;
    
}

.primary-content,
.main-header,
.main-footer {
    text-align: center;
}

.primary-content {
	padding-top: 25px;
    padding-bottom: 95px;
}

.secondary-content {
	padding-top: 80px;
	padding-bottom: 70px;
    /*border-bottom: 2px solid #dfe2e6;*/
}

.callout {
    font-size: 1.25em;
    border-bottom: 3px solid;
    padding: 0 9px 3px;
    margin-top: 20px;
    display: inline-block;
}

.main-footer {
    padding-top: 60px;
    padding-bottom: 60px;
    border-bottom: 10px solid #ffa949;
}

/*.t-border {
    border-top: 2px solid #dfe2e6;
}*/

/* Layout Styles ------------------ */

.primary-content, 
.secondary-content {
    width: 75%;
    padding-left: 50px;
    padding-right: 50px;
    margin: auto;
    max-width: 960px;
}

/*.skills {
    color: white;
    text-align: center;
    padding: 18% 24%;
    border-top: 10px solid #ffa949;
    border-bottom: 10px solid #ffa949;
    margin: 105px 0 60px;
    background: #434a52 url('../img/matrix2.jpg') no-repeat center;
    background-size: cover;
    box-shadow:inset 0px 0px 100px 50px black;
    border-radius: 20% 30% 100% 50%; 
}
*/

/* Floated Columns ------------------ */


.kon {
    display: none;
}

/* Float Clearfix ------------------ */

.group:after {
    content: "";
    display: table;
    clear: both;
}

/* flip effect */

.flipper {
    width: 350px;
    height: 400px;
    margin: 10px;
}
.flipper > .front{
    position: absolute;
    transform: perspective( 600px ) rotateY( 0deg );
    background: yellow;
    width: 350px;
    height: 400px;
    border-radius: 7px;
    transition: transform .5s linear 0s;
    backface-visibility: hidden;
    background: url('../img/matrix2.jpg') no-repeat center;
    background-size: cover;
    
}
.flipper > .back{
    position: absolute;
    transform: perspective( 600px ) rotateY( 180deg );
    background: blue;
    width: 350px;
    height: 400px;
    border-radius: 7px;
    transition: transform .5s linear 0s;
    backface-visibility: hidden;
    background: url('../img/thumbs.jpg') no-repeat center;
    background-size: cover;
}
.flipper:hover > .front{
    transform: perspective( 600px ) rotateY( -180deg );
}
.flipper:hover > .back{
    transform: perspective( 600px ) rotateY( 0deg );
}



/* flip effect end */

/* contact */

#mail,
#phone,
#fbook {
    display: inline;
    margin: 100px;
    text-align: center;
    
}
.hint {
    display: none;
    position: relative;
    font-size: 12px;
    background-color: black;
    color: snow;
    border: 1px solid gray;
    padding: 8px;
    border-radius: 5px;
}



/* contact end */
